/* Estilos del primer banner */
#banner {
    margin: 0; /* Elimina el margen alrededor del primer banner */
    padding: 0; /* Elimina el relleno alrededor del primer banner */
}

/* Estilos del segundo banner */
#segundo-banner {
    position: relative; 
    overflow: visible;
    text-align: center;
    margin: 0; /* Elimina el margen alrededor del segundo banner */
    padding: 0; /* Elimina el relleno alrededor del segundo banner */
}

/* Estilos para la imagen del segundo banner */
#segundo-banner img {
    width: 100%;
    height: auto; /* Mantén la altura automática para mantener la proporción */
    object-fit: cover; /* Asegúrate de que la imagen cubra el área del banner */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombreado solo abajo */
    display: block; /* Asegúrate de que la imagen se muestre como bloque */
    margin: 0; /* Elimina el margen de la imagen */
    padding: 0; /* Elimina el relleno de la imagen */
}

/* Estilos del botón del segundo banner */
#segundo-banner .btn {
    position: absolute;
    bottom: 140px; /* Ajusta la posición vertical del botón */
    left: 12%;
    width: 160px;
    transform: translateX(-50%);
    background-color: #f8b6d1;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#segundo-banner .btn:hover {
    background-color: beige;
}

/* Estilos del contenedor de ancho completo con color de fondo */
#productos-bg {
    background-color: #f5f5f5;
    width: 100%;
    height: 700px;
    padding-top: 40px; /* Espacio superior */
    padding-bottom: 40px; /* Espacio inferior */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    margin: 0; /* Elimina el margen alrededor del contenedor de fondo */
}

/* Estilos del contenedor centrado para el contenido */
#productos {
    max-width: 1200px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra el contenedor dentro del contenedor de fondo */
    padding: 0 15px; /* Espacio interno opcional para el contenedor centrado */
}

/* Establece una altura mínima para las tarjetas */
#productos .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    height: 630px;
    background-color: #fff;
    box-shadow: 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }

#productos .card:hover {
    transform: scale(1.05);
}

#productos .card-title {
    font-size: 1rem;
    color: #495057;
    margin-left: -1px;
}

/* Estilo para el título del producto */
#productos .product-card h2 {
    font-size: 0.9rem;
    margin: 20px 0 10px;
    text-align: left;
  }
  
  /* Estilo para la descripción del producto */
  #productos .product-card p {
    font-size: 0.9rem;
    margin: 0 0 15px;
  }
  
  /* Estilo para el precio del producto */
  #productos .product-card .card-text strong {
    font-size: 1.1rem;
    color: #e988b5;
  }
  
  #productos .product-card a {
    color: #b8038b;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }